body {
  font-size: 20px;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(131, 117, 204);
  color: white;
  padding: 20px;
}

.main {
  display: grid;
  height: 200px;    
  padding-top: 130px;
  grid-template-columns: repeat(auto-fit, minmax(479px, auto));
}

.nav {
  /* background-color: rgba(139, 137, 165, 0.466); */
  text-align: center;
}

.content {
  background-color: rgba(176, 174, 196, 0.466);
}
.content-container
{
  background-color: rgba(176, 174, 196, 0.466);
}

.bot {
  bottom: 0;
  right : 0;
  position: fixed;
  width: 350px;
}

.btn {
  font-size: 25px;
  float: right;
  width: 100%;
  padding: 8px;
  background-color: rgb(107, 96, 221)
}
.chatbot-img
{
  height: 600px;
  width: 500px;
}
@media only screen and (max-width: 600px) {
}