.container
{
    display: flex;
    justify-content: center;
    width:50%;
}
@media only screen and (max-width: 670px) {  
    .container{  
      width: 100%;  
    }  
  } 
@media(max-width:770px)
{
    .container{
        width:100%
    }
}